@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@800&display=swap');

:root {
    --light-yellow: #F8FFDD;
    --bitter-lemon: #C2EF13;
    --apple-green: #7FBA07;
    --chinease-black: #171717;
    --background-black: #000000;
    --text-gray: #9DA18E;

    --darker-grotesque-extra-bold: 'Darker Grotesque';
    --darker-grotesque-bold: 'Darker Grotesque', extra-bold;
    --darker-grotesque: 'Darker Grotesque';
}

body {
    background-color: var(--chinease-black);
    font-family: var(--darker-grotesque-extra-bold);
    margin: 0;
}

p {
    font-size: 18px;
}

hr {
    /*color: var(--bitter-lemon);*/
    display: block;
    height: 2px;
    border: 0;
    border-top: 2px solid var(--bitter-lemon);
    margin: 1em 0;
    padding: 0;
}

#content {
    margin-top: 150px;
    margin-bottom: 150px;
}

.main {
    padding: 16px;
    margin-top: 30px;
    height: 1500px; /* Used in this example to enable scrolling */
}



/*===== NAVBAR =====*/
#navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--bitter-lemon);

    position: fixed;
    width: 100%;
    top: 0;
}

#navbar-right {
    display: flex;
    float: right;
}

.nav-button {
    padding: 10px 15px;
    height: auto;
}

.nav-button {
    font-size: 16px;
    color: var(--chinease-black);
    cursor: pointer;
    text-decoration: none;
}

.nav-button:hover {
    font-size: 16px;
    background-color: var(--chinease-black);
    color: var(--light-yellow);
    cursor: pointer;
}

#navbar-left {
    display: flex;
    align-items: center;
}

.navbar-image {
    height: 40px;
    width: auto;
    margin-right: 60px;
}

#logo {
    height: 35px;
    align-items: center;
}




/*===== SECTION CONSTRUCTORS =====*/
.section-header {
    background-color: var(--chinease-black);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-header-image img {
    max-width: 600px;
    height: auto;
}

.section-header-text {
    flex: 1;
    padding: 20px;
    text-align: left;
    margin-bottom: 50px;
}

.section-header-text h1 {
    flex: 1;
    width: 100%;
    font-size: 48px;
    /*text-transform: uppercase;*/
}



/*===== INTRO =====*/
#intro {
    color: var(--chinease-black);
    margin-left: 150px;
    margin-right: 150px;
}

#section-header-intro {
    background-image: url("assets/bg-elements/intro-bg.svg");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: contain;

    height: 700px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#section-header-text-intro {
    margin-bottom: 300px;

}

#section-header-intro p {
    font-size: 24px;
}

#section-header-text-intro h1 {
    width: 100%;
    font-size: 58px;
    margin: 0;
    padding: 0;
}

#section-header-text-intro p {
    /*width: 100%;*/
    /*font-size: 58px;*/
    padding-top: -50px;
    padding-right: 100px;
}

/*===== ABOUT =====*/
#about {
    color: var(--light-yellow);
    margin-left: 150px;
    margin-right: 150px;
}

#about-section-logos {
    max-width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



/*===== TRACKS =====*/
#tracks {
    color: var(--light-yellow);
    margin-left: 200px;
    margin-right: 200px;
}

#tracks-grid {
    display: grid;
    background-color: var(--chinease-black);
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    padding: 30px;
    margin-left: 100px;
    margin-right: 100px;
    border: 5px solid var(--bitter-lemon);
}

.track-content {
    background-color: var(--chinease-black);
    color: var(--light-yellow);
    margin-bottom: 50px;
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
    border: 4px solid var(--light-yellow);
}

.track-grid-item {
    justify-content: space-between;
    margin: auto;
    text-align: center;
}

.track-grid-item h1 {
    font-size: 34px;
}

.track-grid-item img {
    width: 150px;
    height: auto;
    object-fit: contain;
}

#h1.track-content {
    text-size: 20px;
}



/*===== PARTNERS =====*/
#partners {
    padding: 50px;
    background-color: var(--chinease-black);
    color: var(--light-yellow);
    text-align: left;
}

#partners h1 {
    font-size: 38px;
    margin-left: 20px;
    text-transform: uppercase;
}

#partners h2 {
    font-size: 28px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.grid-container {
    display: grid;
    background-color: var(--light-yellow);
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 30px;
    border: 7px solid var(--bitter-lemon);
}

.grid-container img {
    height: 100%;
    width: 100%;
}

.grid-item {
    background-color: var(--light-yellow);
    height: 150px;
}



/*===== FOOTER =====*/
footer {
    background-color: var(--background-black);
}

.footer-content {
    background-color: var(--background-black);
    color: var(--light-yellow);
    padding: 20px;
    margin-left: 60px;
    margin-right: 60px;
}

.footer-columns {
    background-color: var(--background-black);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact, .related-links {
    flex: 1;
}

.contact h1, .related-links h1 {
    margin-bottom: 10px;
}

.contact p {
    color: var(--text-gray);
}

.social-media {
    margin-top: 10px;
}

.social-media a {
    color: var(--text-gray);
    margin-right: 10px;
    height: 30px;
}

.related-links {
    margin-bottom: auto;
}

.related-links ul {
    list-style: none;
    padding: 0;
}

.related-links li {
    margin-bottom: 5px;
}

.related-links a:link  {
    color: var(--text-gray);
    background-color: transparent;
    text-decoration: none;
}

.related-links a:visited {
    color: var(--text-gray);
    background-color: transparent;
    text-decoration: none;
}

.related-links a:hover {
    color: var(--bitter-lemon);
}

.social-media a:hover {
    color: var(--bitter-lemon);

}


